{% extends 'base.html' %}

{% block content %}
<div class="ui secondary menu">
  <div class="left menu">
    <div class="ui huge header">
      <h2 class="sub small header">Sourced from:</h2>
      {{ source.name }}
    </div>
  </div>
  <div class="right menu">
    <div class="item">
    {% from 'macros.html' import render_sub_button %}
    {{ render_sub_button(source, current_user) }}
    </div>
  </div>
</div>
<div class="ui divider"></div>
{% from 'macros.html' import render_pagination %}
{{ render_pagination(pagination) }}
<div class="ui container">
  <div class="ui three column grid">
  {% for summary in pagination.items %}
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="{{ summary.get_thumbnail() }}"></img>
        </div>
        <div class="content">
          <a class="header">{{ summary.title }}</a>
          <div class="meta">{{ summary.pretty_date() }}</div>
          <div class="description">{{ summary.preview() }}</div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  {{ render_pagination(pagination) }}
</div>
{% endblock %}

{% block scripts %}
{% from 'macros.html' import render_sub_button_js %}
{{ render_sub_button_js(source, current_user) }}
{% endblock %}
