{% extends 'base.html' %}

{% block content %}
<div class="ui text container">
  <div class="ui large header">
    <h2 class="sub header">Tagged In</h2>
    {{ tag.tag }}
  </div>
  {% for summary in paginate.items %}
  <div class="ui segment">
    <div class="ui padded grid">
      <div class="seven wide column">
        <!-- `ui image` class needed to fit image to container -->
        <img class="ui image" src="{{ url_for('static', filename='test.jpg') }}"></img>
      </div>
      <div class="nine wide left aligned column">
        <h3 class="ui small header">{{ summary.title }}</h3>
        <div class="sub header">{{ summary.body }}</div>
        <a href="{{ summary.link }}">Original Article</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
