{% extends 'base.html' %}

{% block content %}
<div class="ui text container">
  <div class="ui vertical segment" style="min-height: 15em;">
    <img class="ui left floated small image" src="{{ current_user.get_avatar_url() }}">

    <span id="profile-segment" class="ui large header">
      <!-- If logged in user is viewing their own profile, allow them to edit -->
      {% if is_user %}
      <button id="edit-button" class="ui right floated button">Edit</button>
      {% endif %}
      {{ " ".join([profile.get('first_name'), profile.get('last_name')]) }}
      <p class="sub header">{{ profile.get("bio") or "" }}</p>
    </span>

    <!-- If logged in user is viewing their own profile, allow them to edit -->
    {% if is_user %}
    <span id="profile-form" style="display: None;">
      <form method="POST" class="ui form">
        {{ form.csrf_token }}
        <div class="fields">
          <div class="four wide field">
            <div class="ui input">
              {{ form.first_name(placeholder="First name...") }}
            </div>
          </div>
          <div class="four wide field">
            <div class="ui input">
              {{ form.last_name(placeholder="Last name...") }}
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            {{ form.bio(placeholder="Write something about yourself...", rows="3") }}
          </div>
        </div>
        <div class="field">
          {{ form.submit(class="ui button") }}
        </div>
      </form>
    </span>
    {% endif %}
  </div>

  <div class="ui vertical segment">
    <h2 class="ui header">Subscribed</h2>
  </div>

  <div class="ui vertical segment">
    <h2 class="ui header">Liked</h2>
  </div>
  
  <div class="ui vertical segment">
    <h2 class="ui header">Comments</h2>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  var editButton = document.getElementById("edit-button");
  var profileSegment = document.getElementById("profile-segment");
  var profileForm = document.getElementById("profile-form");
  if (editButton) editButton.onclick = renderEditForm;

  function renderEditForm() {
    profileSegment.style.display = "None";
    profileForm.style.display = "Inline";
    console.log("Editing...")
  }
</script
{% endblock %}
