{% extends 'base_alt.html' %}

{% block title %} Registration successful! {% endblock %}

{% block content %}
<div id="main-grid" class="ui middle aligned grid">
  <div class="row"></div>
  <div class="row">
    <div class="ui container">
      <h1 id="main-header" class="ui inverted header">
        <strong>Registration successful!</strong>
      </h1>
      <h3 id="sub-header" class="ui inverted header">
        <strong>A confirmation with instructions to verify your account has been sent to your email.</strong>
      </h3>
      <a href="{{ url_for('base.index') }}">
        <button class="ui large inverted button" style="margin-top: 1.5em;">
          <h3>Return Home</h3>
        </button>
      </a>
    </div>
  </div>
  <div class="row"></div>
</div>
{% endblock %}
