# Configuration
config.py
heroku_config.py

# Static files
static

# Migrations
migrations

# Compiled python files
__pycache__
*/__pycache__
*/*/__pycache__

# Dev databases and migrations
test.db

# Certificates
rds-combined-ca-bundle.pem
