{% extends 'base.html' %}

{% block content %}

  <h1 class="ui big header">
    Welcome {% if current_user.is_authenticated %} {{ current_user.first_name }} {% else %} {{ "Guest"}} {% endif %}
  </h1>
  {% for source in sources %}
  <div class="ui secondary pointing menu">
    <a class="item">
      <h2 class="ui medium header">{{ source.name }}</h2>
    </a>
    <div class="right menu">
      <a class="item" href="{{ url_for('summary.get_source', source_id=source.id) }}">
        See more
        <i class="angle right icon"></i>
      </a>
    </div>
  </div>
  <div class="ui two column grid">
  {% for summary in summaries[source.id] %}
    <div class="column">
      <div class="ui segment">
        <div class="ui padded grid">
          <div class="seven wide column">
            <!-- `ui image` class needed to fit image to container -->
            <img class="ui image" src="{{ summary.get_thumbnail() }}"></img>
          </div>
          <div class="nine wide left aligned column">
            <a href="{{ url_for('summary.get_summary', summary_id=summary.id) }}">
              <h3 class="ui small header">
                <div class="content">
                  {{ summary.title }}
                  <div class="sub header">{{ summary.pretty_date() }}</div>
                </div>
              </h3>
            </a>
            <p>
              {{ summary.preview() }}
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  {% endfor %}

{% endblock %}
